@import "tailwindcss";
@import "./overlay.css";
@import "./progreso.css";
@import "./sobre-liriun.css";
@import "./inicio.css";
@import "./web.css";
@import "./city.css";
@import "./footer.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  color-scheme: dark;
}

:root {
  --font-hero: var(--font-hero);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-gontserrat: var(--font-gontserrat);

}



:root {
  --header-transition-duration: 400ms;
  --header-transition-ease: cubic-bezier(1, 1, 1, 1);


  /* hero section */
  --color-hero-title: #4a3e9d; /* Púrpura oscuro profundo para destacar el título */
  --color-hero-description: #1a5e56; /* Verde azulado oscuro para buena legibilidad */
  --color-hero-card: rgba(107, 92, 196, 0.25); /* Sombra suave morada con transparencia */
 
  /* contenedores y cartas */
  --color-card-bg: #ffffff; /* Fondo blanco (o #f8fafc para un tono ligeramente suave) */
  --color-card-shadow: rgba(14, 116, 110, 0.15); /* Sombra sutil teal para dar profundidad sin ensuciar */
  --color-card-line-separator: #dbeafe; /* Línea separadora suave en azul/púrpura */
 
  /* contenido de proceso */
  --color-card-step: #0d9488; /* Teal medio-oscuro vibrante para el indicador de paso */
  --color-card-title: #0f172a; /* Título principal muy oscuro/casi negro */
  --color-card-title-shadow: transparent; /* En light theme el text-shadow de neón suele restarle legibilidad */
  --color-card-description-principal: #115e59; /* Verde azulado profundo para texto principal */
  --color-card-sub-title: #0f766e; /* Título secundario con buen contraste */
  --color-card-description: #334155; /* Gris slate oscuro para legibilidad en textos largos */
  --color-card-resultado: #4f46e5; /* Púrpura/índigo contrastado para los términos/dt */



  --color-nav-bgI: var(--color-card-title);
  --color-navI: var(--color-bg);

  --color-nav-bg: var(--color-bg);
  --color-nav: var(--color-card-title);
  --color-nav-shadow: #0f172a44;

  --color-liriun:#ada4f8;
  --color-liriun-bg: var(--color-bg) ;
  --color-bg: #ebe9e4;
  
  --color-bg-footer: #afb7ca92;
  --color-footer: #64748b;
  --color-footer-description: #44546b;
  
  --color-footer-nav: var(--color-bg);
  --color-footer-nav-bg: #0f172a;
  
  --color-btt: #fff; 
  --color-btt-bg: #0f766e;
    

    --color-tree-line: #4a7;
    --color-tree: #0f172a;
    --color-tree-bg: var(--color-bg);
    --color-tree-shadow: var(--color-card-step);
}

html.dark {

  --color-tree-line: #5da;
    --color-tree-bg: #2f2f4a;
    --color-tree: #ddeeff;
    --color-tree-shadow: #362f6a ;
  /* ===== Colores usados en este archivo ===== */
  --color-hero-title: #cfc6fc; /* usada en: .hero-content h1 (color) */
  --color-hero-description: #a5b8c8; /* usada en: .hero-content p (color) */
  --color-hero-card: #9f96dc; /* usada en: .hero-content (box-shadow) */


  --color-card-bg : #152441d1; /* usada en: .hero-content, .proceso-conteiner (background) */
  --color-card-shadow: #1e9a94; /* usada en: .proceso-conteiner (box-shadow) */

  --color-card-line-separator: #133a4ff3; /* usada en: .proceso-conteiner h3, .proceso-conteiner dl (border-top) */

  --color-card-step: #7fe6dc; /* usada en: .proceso-conteiner header p:first-child (color) */
  --color-card-title : #e6fffa; /* usada en: .proceso-hero span, .proceso-conteiner h2 (color) */
  --color-card-title-shadow: #00fece; /* usada en: .proceso-hero span, .proceso-conteiner h2 (text-shadow) */
  --color-card-description-principal: #a7d7d5; /* usada en: .proceso-conteiner .entrega, .proceso-conteiner header p:last-child (color) */
  --color-card-sub-title: #b1dddd; /* usada en: .proceso-conteiner h3 (color) */
  --color-card-sub-title: #97b8d5; /* usada en: .proceso-conteiner h3 (color) */
  --color-card-description: #b9bede; /* usada en: .proceso-conteiner, .proceso-conteiner:not(header) :is(p, ul, dd) (color) */
  --color-card-description: #a5b8c8; /* usada en: .proceso-conteiner, .proceso-conteiner:not(header) :is(p, ul, dd) (color) */
  --color-card-resultado: #aaaaff; /* usada en: .proceso-conteiner dt (color) */


  --color-nav-bgI: #ada4f8;
  --color-navI: var(--color-bg);

  --color-nav: var(--color-bg);
  --color-nav-bg: #ada4f8;

  --color-nav-shadow: #ada4f8;


  --color-liriun-bg:var(--color-card-title);
  --color-liriun: #ada4f8 ;
  --color-bg: #202932;

  --color-bg-footer: #0f172a92;
  --color-footer: #64748b;
  --color-footer-description: #b4c4db;
  
  --color-footer-nav: var(--color-bg);
  --color-footer-nav-bg: #ada4f8;
  
  --color-btt: #0f172a; 
  --color-btt-bg: #ada4f8;
}
html {
  scroll-behavior: smooth;
}
section{
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  /* scroll-snap-type: y mandatory; */
/* scroll-margin-top: 50vh; */
/* transform: translateY(-50%); */
}
body {
  background:      var(--color-bg);
  color: var(--color-primary-dark);
  font-family: var(--font-gontserrat);
  margin: 0;
}
:root{

  /* ===== Tamaños de texto usados en este archivo ===== */
  --fs-sobre-titulo: clamp(3.5rem, 9vw, 9rem); 

  --fs-card-step: clamp(12px, 1.8vw, 14px); 
  --fs-card-title: clamp(30px, 5.4vw, 52px); 
  --fs-card-description-principal: clamp(12px, 1.8vw, 18px); 
  --fs-card-subtitulo: clamp(14px, 1.8vw, 18px); 
  --fs-card-description: clamp(15px, 1.6vw, 18px); 
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  pointer-events: none;
  padding-inline: 1.5vw;
  height: min-content;
 
  @media (max-width: 960px) {
    padding-inline: 1vw;
  }
}
 
.header__wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: flex-end;
 
  @media (max-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }
}
 
.header__wrapper > *:nth-child(1) { justify-self: start; }
.header__wrapper > *:nth-child(2) { justify-self: center; }
.header__wrapper > *:nth-child(3) { justify-self: end; }
 
/* --- 2. CENTRO: Enlaces de Navegación --- */
.header__nav {
  display: flex;
  align-items: start;
  justify-content: start;
  align-content: start;
  gap: 0.7rem;
  padding: 0.025rem 1.5rem;
  transition:
    transform var(--header-transition-duration) var(--header-transition-ease),
    opacity var(--header-transition-duration) var(--header-transition-ease);
}
 
.header__link {
  pointer-events: auto;
  border-radius: 4px;
  font-family: var(--font-serif);
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: var(--color-card-title);
  background: var(--color-card-bg);
  box-shadow: 0 5px 15px var(--color-nav-shadow);
  box-shadow: 0px 4px 6px var(--color-hero-card);
  text-transform: uppercase;


  color: var(--color-card-title);
  background: var(--color-bg);
  text-shadow: 0 0 30px color-mix(in srgb, var(--color-card-title-shadow) 55%, transparent);
  /* box-shadow: none; */
  text-shadow: none;

  padding: 8px 16px;
  height: max-content;
  margin-top: 1em;
  margin-bottom: 1em;
  transition:
    transform var(--header-transition-duration) var(--header-transition-ease),
    opacity var(--header-transition-duration) var(--header-transition-ease);
  animation: pulsoSalida 0.3s ease forwards;
}
 
.header__link:hover {
  color: var(--color-bg);
  background: #000;
    box-shadow: none;
  animation: pulsoYColor 0.3s ease forwards;
}
 
@keyframes pulsoYColor {
  0%   { transform: scale(1);    color: var(--color-nav);    background: var(--color-nav-bg); }
  20%  { transform: scale(0.82); color: var(--color-nav);    background: var(--color-nav-bg); }
  21%  { color: var(--color-nav-bg); background: var(--color-nav); }
  90%  { transform: scale(1.05); }
  100% { transform: scale(1); color: var(--color-nav-bg); background: var(--color-nav); }
}
 
@keyframes pulsoSalida {
  0%   { transform: scale(1);    color: var(--color-nav-bg); background: var(--color-nav); }
  20%  { transform: scale(0.82); color: var(--color-nav-bg); background: var(--color-nav); }
  21%  { color: var(--color-nav); background: var(--color-nav-bg); }
  90%  { transform: scale(1.05); }
  100% { transform: scale(1); color: var(--color-nav); background: var(--color-nav-bg); }
}
 
.header__item--visible {
  transform: translateY(0) scale(1);
  opacity: 1;
}
 
.header__item--hidden {
  transform: translateY(-150%) scale(1);
}
 
.header__link:nth-child(1) { transition-delay: 0s; }
.header__link:nth-child(2) { transition-delay: 0.07s; }
.header__link:nth-child(3) { transition-delay: 0.14s; }
.header__link:nth-child(4) { transition-delay: 0.21s; }
 
.header__nav--visible {
  transform: translateY(0) scale(1);
  opacity: 1;
}
 
.header__nav--hidden {
  transform: translateY(-200%) scale(1);
}
 
@media (max-width: 960px) {
  .header__nav {
    display: none;
  }
}
 
/* --- 3. DERECHA: Botón de Acción / Contacto --- */
.header__action {
  pointer-events: auto;
  display: flex;
  gap: 0.6rem;

  @media (max-width: 768px) {

  gap: 0.35rem;
  }
  transition:
    transform var(--header-transition-duration) var(--header-transition-ease),
    opacity var(--header-transition-duration) var(--header-transition-ease);
}
 
.header__button {
  transform-origin: bottom center;
  display: flex;

    
  /* background-color: var(--color-bg); */
  /* color: var(--color-card-title); */
  /* text-shadow: 0 0 30px color-mix(in srgb, var(--color-card-title-shadow) 55%, transparent); */

  background-color: #0f172a;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 5px 15px #0f172a34;


  color:#aaf;
  color: var(--color-card-title);
  background: var(--color-bg);
  text-shadow: 0 0 30px color-mix(in srgb, #f0f 55%, transparent);
  text-shadow: none;
    box-shadow: none;
  /* box-shadow: none; */

  padding: 8px 16px;
  font-family: var(--font-serif);
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-transform: uppercase;
  align-self: end;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease, background 0.3s ease;
  animation: pulsoYColor 0.3s ease forwards;
  /* width: max-content; */
  /* height: min-content; */
  padding-left: 2.0rem;
  @media (max-width: 768px) {
  font-size: 14px;
  }
}
 
.button-menu {
  display: none;
 
  @media (max-width: 960px) {
    display: flex;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 2vh;
    margin-bottom: 0;
  }
 
  @media (max-width: 768px) {
    margin-top: 1.2vh;
  font-size: 14px;
  }
}
 
.header__button:hover {
  /* background-color: #1e293b; */
  box-shadow: 0px 3px 6px var(--color-nav-shadow);
  animation: pulsoSalida 0.3s ease forwards;
}
.icon-line{
    position: absolute;
  width: 24px;
  height: 100%;
  left: 0;
  top: 0;
  /* padding-bottom: 0.3rem; */
  /* padding-right: 0.2rem; */
  /* margin-right: 0.5rem; */
  margin-left: 0.3rem;
}
 
.header__action--visible {
  transform: translateX(0) scale(1);
  opacity: 1;
}
 
.header__action--hidden {
  transform: translateX(200%) scale(1);
}
 
/* --- 1. IZQUIERDA: Brand / Logo --- */
.header__brand {
  pointer-events: auto;
  transition:
    transform var(--header-transition-duration) var(--header-transition-ease),
    opacity var(--header-transition-duration) var(--header-transition-ease);

}
 
@keyframes pulsoSalidaA {
  0%   { transform: scale(1);    color: var(--color-liriun-bg ); background: var(--color-liriun); }
  20%  { transform: scale(0.82); color: var(--color-liriun-bg ); background: var(--color-liriun); }
  21%  { color: var(--color-liriun); background: var(--color-liriun-bg ); }
  90%  { transform: scale(1.05); }
  100% { transform: scale(1); color: #000; background: var(--color-liriun-bg ); }
}
 
@keyframes pulsoYColorA {
  0%   { transform: scale(1);    color: var(--color-liriun); background: var(--color-liriun-bg ); }
  20%  { transform: scale(0.82); color: var(--color-liriun); background: var(--color-liriun-bg ); }
  21%  { color: var(--color-liriun-bg ); background: var(--color-liriun); }
  90%  { transform: scale(1.05); }
  100% { transform: scale(1); color: var(--color-liriun-bg ); background: var(--color-liriun); }
}
 
.header__brand-title {
  letter-spacing: 0.025em;
  text-decoration: none;
  transform-origin: bottom center;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  /* border: 1px solid #000; */

  box-shadow: 0 5px 15px #0f172a34;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  animation: pulsoSalidaA 0.3s ease forwards;
  width: 230px;
  height: 45px;
  position: relative; /* requerido por next/image con "fill" */
  @media (max-width: 768px) {
    width: 120px;
    height: 35px;
  }
}
 
.header__brand-title img {
  padding: 4px;
  object-fit: contain;
}
 
.header__brand-title:hover {
  animation: pulsoYColorA 0.3s ease forwards;
}
 
.header__brand--visible {
  transform: translateX(0) scale(1);
  opacity: 1;
}
 
.header__brand--hidden {
  transform: translateX(-150%) scale(1);
}







/* NOTE: theme toogle*/


.header__buttonI {
  transform-origin: bottom center;
  display: block;
  background-color: #0f172a;
  color: #ffff0f;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 5px 15px #0f172a34;

  color: var(--color-card-title);
  /* background: var(--color-bg); */
  text-shadow: 0 0 30px color-mix(in srgb, var(--color-card-title-shadow) 55%, transparent);
  box-shadow: none;

  padding: 4px 3px;
  font-family: var(--font-serif);
  font-weight: 800;
  /* font-size: 16px; */
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-transform: uppercase;
  align-self: end;
  /* transition: transform 0.3s ease, color 0.3s ease, background 0.3s ease; */
  animation: pulsoYColorI 0.3s ease forwards;
}

.header__buttonI:hover {
  /* background-color: #1e293b; */
  animation: pulsoSalidaI 0.3s ease forwards;
}



@keyframes pulsoYColorI {
  0%   { transform: scale(1);    color: var(--color-navI);    background: var(--color-nav-bgI); }
  20%  { transform: scale(0.82); color: var(--color-navI);    background: var(--color-nav-bgI); }
  21%  { color: var(--color-nav-bgI); background: var(--color-navI); }
  90%  { transform: scale(1.05); }
  100% { transform: scale(1); color: var(--color-nav-bgI); background: var(--color-navI); }
}
 
@keyframes pulsoSalidaI {
  0%   { transform: scale(1);    color: var(--color-nav-bgI); background: var(--color-navI); }
  20%  { transform: scale(0.82); color: var(--color-nav-bgI); background: var(--color-navI); }
  21%  { color: var(--color-navI); background: var(--color-nav-bgI); }
  90%  { transform: scale(1.05); }
  100% { transform: scale(1); color: var(--color-navI); background: var(--color-nav-bgI); }
}



.proceso-conteiner:not(header) :is(p, ul, dd,ol) {
  line-height: 1.20;
  font-size: var(--fs-card-description);
  color: var(--color-card-description);
  margin-bottom:  0.0rem;
  padding-top: 0.0rem;
}



.proceso-conteiner :is(h3,dt) {
  border-top: 1px solid var(--color-card-line-separator);
  padding-top: 0.3rem;
  margin-top: 0.0rem;
  text-transform: uppercase;

  font-family: var(--font-gontserrat);
  font-size: var(--fs-card-subtitulo);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.02;
  color: var(--color-card-sub-title);
}

summary{

  cursor: pointer;
  /* padding-top: 0.3rem; */
  text-transform: uppercase;

  font-family: var(--font-gontserrat);
  font-size: var(--fs-card-subtitulo);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.02;
  /* margin-bottom: .5rem; */
  color: var(--color-bg);
  background: var(--color-card-title);
  padding: 0.3rem;

  border-radius: 4px;
  box-shadow: 0px 4px 6px color-mix(in srgb, var(--color-card-title) 40%, transparent);
}

@keyframes pulsoYColorBTT {
  0%   { transform: scale(1);    color: var(--color-btt);    background: var(--color-btt-bg); }
  20%  { transform: scale(0.82); color: var(--color-btt);    background: var(--color-btt-bg); }
  21%  { color: var(--color-btt-bg); background: var(--color-btt); }
  90%  { transform: scale(1.05); }
  100% { transform: scale(1); color: var(--color-btt-bg); background: var(--color-btt); }
}
 
@keyframes pulsoSalidaBTT {
  0%   { transform: scale(1);    color: var(--color-btt-bg); background: var(--color-btt); }
  20%  { transform: scale(0.82); color: var(--color-btt-bg); background: var(--color-btt); }
  21%  { color: var(--color-btt); background: var(--color-btt-bg); }
  90%  { transform: scale(1.05); }
  100% { transform: scale(1); color: var(--color-btt); background: var(--color-btt-bg); }
}
.card-button {

  pointer-events: auto;
  cursor: pointer;
  border-radius: 4px;
  font-family: var(--font-serif);
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: var(--color-card-title);
  background: var(--color-card-bg);
  box-shadow: 0 5px 15px var(--color-nav-shadow);
  box-shadow: 0px 4px 6px var(--color-hero-card);
  text-transform: uppercase;


  color: var(--color-card-title);
  background: var(--color-bg);
  text-shadow: 0 0 30px color-mix(in srgb, var(--color-card-title-shadow) 55%, transparent);
  text-shadow: none;

  padding: 8px 16px;
  height: auto;
  width: max-content;
  max-width: 100%;
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  transition:
    transform var(--header-transition-duration) var(--header-transition-ease),
    opacity var(--header-transition-duration) var(--header-transition-ease);
  animation: pulsoSalidaBTT 0.3s ease forwards;
}


.card-button:hover {
  color: var(--color-bg);
  background: #000;
    box-shadow: none;
  animation: pulsoYColorBTT 0.3s ease forwards;
}

.card-button-e {

  pointer-events: auto;
  border-radius: 4px;
  font-family: var(--font-gontserrat);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: var(--color-card-title);
  background: var(--color-card-bg);
  box-shadow: 0 5px 15px var(--color-nav-shadow);
  /* box-shadow: 0px 4px 6px var(--color-hero-card); */
  /* text-transform: uppercase; */
    box-shadow: none;

  color: var(--color-card-sub-title);
  background: transparent;
  text-shadow: 0 0 30px color-mix(in srgb, var(--color-card-title-shadow) 55%, transparent);
  text-shadow: none;

  /* padding: 8px 16px; */
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  transition:
    transform var(--header-transition-duration) var(--header-transition-ease),
    opacity var(--header-transition-duration) var(--header-transition-ease);
  animation: pulsoSalidaEJ 0.3s ease forwards;
}


.card-button-e:hover {
  color: var(--color-card-title);
    box-shadow: none;
  animation: pulsoYColorEJ 0.3s ease forwards;
}


.proceso-conteiner{
    gap: 0.7rem;
    display: flex;
    flex-direction: column;
}
.list{

  background: var(--color-tree-bg);
  border-radius: 0.5rem;
  padding: 1.9rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  box-shadow: 0px 4px 6px color-mix(in srgb, var(--color-tree-shadow) 40%, transparent);
}

.list ul, .list ol {
  list-style: none;
  padding: 0;
}

.list li {
  position: relative;
  padding-left: 20px;
}

.list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 04px;                  /* Ancho del conector horizontal */
  height: 0.00em;              /* Altura de la línea vertical */
  border-left: 1px solid var(--color-tree-line); /* Linea vertical (│) */
  border-bottom: 4px solid var(--color-tree-line);/* Linea horizontal (─) */
}

figure figcaption {
    color: var(--color-card-step);
}
.lopl{
	font-weight: 700 !important;
	font-size: var(--fs-card-description-principal) !important;
	letter-spacing: .04em !important;
	color: var(--color-card-description-principal) !important;
	font-family: var(--font-gontserrat) !important;
	text-transform: uppercase !important;
	margin-top: 0 !important;
	display: block !important;
    
}
/* .tree { */
/*   list-style: none; */
/*   padding-left: 0; */
/*   font-family: monospace;  */
/*   line-height: 1.5; */
/* } */
/**/
/* .tree li::before { */
/*   content: "├── "; */
/*   color: #888;  */
/* } */
/**/
/* .tree li:last-child::before { */
/*   content: "└── "; */
/*   color: #888; */
/* } */

/* Configuración básica de la lista */
.tree, .tree ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-family: monospace;
  line-height: 1.5;
}

.tree{
  background: var(--color-tree-bg);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 0.5rem;
  box-shadow: 0px 4px 6px color-mix(in srgb, var(--color-tree-shadow) 40%, transparent);
}
/* Espaciado para subniveles */
.tree ul {
  padding-left: 20px; /* Controla la sangría de los subniveles */
  padding-bottom: 0.5rem;
}

/* Contenedor relativo para posicionar los conectores */
.tree li {
  position: relative;
  padding-left: 20px; /* Espacio para el conector ├─ o └─ */
  color: var(--color-tree)  !important;
}

/* Dibuja la línea vertical '│' y la rama '├' */
.tree li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;                  /* Ancho del conector horizontal */
  height: 0.75em;              /* Altura de la línea vertical */
  border-left: 1px solid var(--color-tree-line); /* Linea vertical (│) */
  border-bottom: 1px solid var(--color-tree-line);/* Linea horizontal (─) */
}

/* Dibuja la extensión vertical de la línea para los elementos intermedios */
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 1px solid var(--color-tree-line); /* Linea vertical (│) */
}

/* Para el último elemento de cualquier nivel: elimina la extensión vertical hacia abajo */
.tree li:last-child::after {
  display: none;
}

.precio-normal{
    background: #ff4;
    color: #000 !important;
    width: max-content;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    padding: 0.3rem;
    margin-top: 0.4rem;
    font-weight: 500 !important;
    font-size: 18px !important;
}
.precio-oferta{
    background: #4f4;
    color: #000 !important;
    width: max-content;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    padding: 0.3rem;
    margin-top: 0.4rem;
    font-weight: 500 !important;
    font-size: 18px !important;
}
